/* .Rectangle-1 {
  width: 1440px;
  height: 75px;
  margin: 21px 0 0;
  padding: 9px 40px 17px 26px;
  background-image: linear-gradient(
    to top,
    #000,
    rgba(30, 17, 10, 0.65),
    rgba(27, 15, 8, 0.74),
    rgba(0, 0, 0, 0.99)
  );
} */
.navbar {
  padding: 0rem !important;
  width: auto;
  height: 80px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.nav-item0 {
  /* margin-left: 250px; */
  color: rgb(0, 0, 0);
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
.nav-item1 {
  margin-left: 30px;
  color: rgb(0, 0, 0);
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
.nav-item2 {
  margin-left: 30px;
  color: rgb(0, 0, 0);
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
.nav-item3 {
  margin-left: 30px;
  color: rgb(0, 0, 0);
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
.nav-item4 {
  margin-left: 30px;
  color: rgb(0, 0, 0);
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
.navbar-brand {
  margin: auto !important;
  color: rgb(134, 31, 31);
  font-size: 2.5rem !important;
}

.nav-link:hover {
  color: #fd5d15 !important;
}

.effect {
  /* color: #fd5d14; */
  position: absolute;
  left: -12.5%;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  -ms-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.nav-item0:hover ~ .effect {
  left: 0.5%;
}
.nav-item1:hover ~ .effect {
  left: 12.5%;
}
.nav-item2:hover ~ .effect {
  left: 37.5%;
}
.nav-item3:hover ~ .effect {
  left: 62.5%;
}
.nav-item4:hover ~ .effect {
  left: 87.5%;
}

/* ----- line example -----*/

.navbar .effect {
  width: 90px;
  height: 2px;
  bottom: 36px;
  background: #fd5d15;
  box-shadow: 0 1px 0 white;
  margin-left: -45px;
}
.btn11 {
  border-style: solid;
  /* border-color: #fd5d14; */
  color: #fff;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  font-weight: 700;
  font-size: 15px;
  background-color: transparent;
  padding: 1rem;
  margin: 0 auto;
}
/* .btn11:before {
  border: 80 px;
  width: 25%;
  color: #fff;
  background: #fd5d14;
}
.btn11:hover::before {
  color: #fff;
  background: #fd5d14;
  width: 100%;
} */

.Rectangle-33 {
  width: 230px;
  height: 5rem;
  /*padding: 6.5px 6.6px 6.5px 6.6px;*/
  padding: .7rem;
  border-radius: 0px;
  background-color: #fd5d14;
}
a {
  color: rgb(0, 0, 0) !important;
}
